<?xml version = '1.0' encoding = 'windows-1252'?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
  <servlet>
    <servlet-name>SQLTest</servlet-name>
    <servlet-class>client.SQLTest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addphoto</servlet-name>
    <servlet-class>client.addphoto</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addalbum</servlet-name>
    <servlet-class>client.addalbum</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>viewphotos</servlet-name>
    <servlet-class>client.viewphotos</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>viewalbums</servlet-name>
    <servlet-class>client.viewalbums</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>viewphoto</servlet-name>
    <servlet-class>client.viewphoto</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>viewalbum</servlet-name>
    <servlet-class>client.viewalbum</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>usr</servlet-name>
    <servlet-class>client.usr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SQLTest</servlet-name>
    <url-pattern>/sqltest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addphoto</servlet-name>
    <url-pattern>/addphoto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addalbum</servlet-name>
    <url-pattern>/addalbum</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>viewphotos</servlet-name>
    <url-pattern>/viewphotos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>viewalbums</servlet-name>
    <url-pattern>/viewalbums</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>viewphoto</servlet-name>
    <url-pattern>/viewphoto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>viewalbum</servlet-name>
    <url-pattern>/viewalbum</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>usr</servlet-name>
    <url-pattern>/usr</url-pattern>
  </servlet-mapping>
</web-app>
